body
{
  background-color: #f6f6f6;
}
a {
  color: #c50c11;
} 
h1 {
  font-weight:bold;
}
@media (min-width: 768px) {
  .container {
    max-width: 750px;
  }
}
.page-header {
  padding-bottom: 9px;
  margin: 40px 0 20px;
  border-bottom: 1px solid #D8D8D8;
}
.navbar {
  background-color: #f6f6f6;
}
.navbar-nav > li > a {
  font-size: 16px;
  color: #333333;
}
.navbar-nav > .active > a,
.navbar-nav > .active > a:hover,
.navbar-nav > .active > a:focus {
  color: #c50c11;
  background-color: #f6f6f6;
}
.center.navbar .nav,
.center.navbar .nav > li {
    float:none;
    display:inline-block;
    *display:inline; /* ie7 fix */
    *zoom:1; /* hasLayout ie7 trigger */
    vertical-align: top;
}
.center .navbar-inner {
    text-align:center;
}
.well {
  min-height: 20px;
  padding: 19px;
  margin-bottom: 20px;
  background-color: white;
  border: 0px;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}
.panel-heading {
  padding: 0px 0px;
  margin: -15px -15px 15px;
  background-color: white;
  border-bottom: 0px solid #dddddd;
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
}
@media (max-width: 767px)
{
  body {
      padding-right: 0px;
      padding-left: 0px;
  }
  .container {
      padding-right: 20px;
      padding-left: 20px;
  }
  .carousel img { 
	  max-width: 100%; 
  }
}	  
